name: Release

on:
  push:
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+'

jobs:
  goreleaser:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: docker/setup-qemu-action@v3
      - uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GH_PAT_GHCR }}
      - uses: actions/setup-go@v5
        with:
          go-version: 1.24
      - uses: goreleaser/goreleaser-action@v6
        with:
          args: release --skip before
          version: latest
        env:
          GITHUB_TOKEN: ${{ secrets.GH_PAT_GORELEASER }}
