name: Update Dependencies

on:
  workflow_dispatch:

jobs:
  update-deps:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: 1.25
      - name: Install slu
        run: curl -fsSL https://raw.githubusercontent.com/sikalabs/slu/master/install.sh | sh
      - name: Configure git
        run: |
          git config user.name "SikaLabs BOT"
          git config user.email "sikalabsbot@sikalabs.com"
      - run: make update-deps
